/*product site*/
.mainsection-left, .mainsection-right {
    padding: 20px;
    margin: auto;
}

.std-margin, .b-round {
    margin: 20px;
}

.round,.b-round {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left, .right {
    margin: auto;
}

.left {
    width: 50%;
    text-align: left;
}

.right {
    width: 50%;
    text-align: right;
}

.mainsection-left {
    min-width: 600px;
    max-width: calc(100% - 400px);
}

.mainsection-right {
    font-size: 12px;
    width: 400px;
}

.row {
    display: inline-flex;
}

.b-round {
    padding: 20px;
    display: flex;
    border: 1px solid black;
}

.mid {
    text-align: center;
}

.black {
    color: black;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}