body {
    font-family: Arial;
    --maincolor: #ff6600;
}

img {
    height: auto;
    width: 100%;
}

/*product site*/
.mainsection-left, .mainsection-right {
    padding: 20px;
    margin: auto;
}

.std-margin, .b-round {
    margin: 20px;
}

.round,.b-round {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left, .right {
    margin: auto;
    width: 50%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.mainsection-left {
    min-width: 600px;
    max-width: calc(100% - 400px);
}

.mainsection-right {
    font-size: 12px;
    width: 400px;
}

.row {
    display: inline-flex;
}

.b-round {
    padding: 20px;
    display: flex;
    border: 1px solid black;
}

.mid {
    text-align: center;
}

.white, .orange {
    cursor: pointer;
    border: 2px solid;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;

    &:hover {
        filter: brightness(80%);
    }
}

.orange {
    border-color: var(--maincolor);
    background-color: var(--maincolor);
    color: white;
}

.white {
    border-color: white;
    background-color: white;
    color: black;
}

.clear {
    background-color: rgba(0,0,0,0);
}


.black {
    color: black;
}

.orangered {
    color: orangered;
}

.information {
    padding: 20px;
    text-align: center;
}

.informationtb {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

    th, td {
        color: black;
        border: 1px solid gray;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
}