div {
    display: block;
}

body {
    margin: 0px;
    margin-top: -16px;
    height: auto;
    font-family: Arial;
}

/* nav leiste */

*
{
  padding: 0;
  margin: 0;
}
#logo {
    height: 35px;
}
nav {
 width: 100%;
     display: flex;
  justify-content: center;

    }
ul {
    list-style: none;
    background: #F8F8F8;
}

ul li {
    display: inline-block;
    position: relative;

}

ul li a {
    display: block;
    padding: 11px 25px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 14px;



}

ul li ul.dropdown li {
    display: block;
    width: 100%

}

ul li ul.dropdown {
    width: 100%;
    background: #F8F8F8;
    position: absolute;
    z-index: 999;
    display: none;
    transition: all 0.5s ease-in-out;

}

ul li a:hover {
    background: #F8F8F8;
}

ul li:hover ul.dropdown {
    display: block;
}

/* /navleiste */

.orange {
    border: 2px solid #ff6600;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    background-color: #ff6600;
    color: white;

}

.orange:hover {
    background-color: #ff781f;
    border-color:#ff781f;
}

.white{
    border: 2px solid white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    background-color: white;
    color: black;
}

.white:hover {
    background-color: #ebeaea;
    border-color: white;
}

.clear {
    background-color: rgba(0,0,0,0);
}

.parent {
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlaying {
    width: 100%;
    position: absolute;
    text-align: center;
}

/* Stile für die Produktseite */
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
    color: black;
}

/* Shop-Seite: Raster-Layout */
.shop-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.shop-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shop-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.shop-item p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.shop-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}